Pagina cu efecte secundare vaccin, luata din baza de date de la submit.html


<h3>Out of {{.TotalUsers1}} entries, there have been reported
    these following secondary effects after the first dose of the vaccine:</h3> <br>
<p>{{.Headaches1}} headaches</p>
<p>{{.Fevers1}} symptoms of fever</p>
<p>{{.Dizzinesses1}} episodes of dizziness</p>
<p>{{.Exhaustions1}} feelings of exhaustion</p>
<p>{{.ArmPains1}} episodes of pain in the arm</p>
<p>{{.Nauseas1}} symptoms of nausea</p>
<p>Most symptoms were found for the {{.WorstVax1}} vaccine.</p>

<br><br>

<h3>For the second dose of the vaccine, out of {{.TotalUsers2}} entries,
    there have been reported these following secondary effects:</h3> <br>
<p>{{.Headaches2}} headaches, from which most from {{.HeadVax2}} vaccine</p>
<p>{{.Fevers2}} symptoms of fever, from which most from {{.FevVax2}} vaccine</p>
<p>{{.Dizzinesses2}} episodes of dizziness, from which most from {{.DizVax2}} vaccine</p>
<p>{{.Exhaustions2}} feelings of exhaustion, from which most from {{.ExhVax2}} vaccine</p>
<p>{{.ArmPains2}} episodes of pain in the arm, from which most from {{.ArmVax2}} vaccine</p>
<p>{{.Nauseas2}} symptoms of nausea, from which most from {{.NausVax2}} vaccine</p>

<br><br><br><br>

<h3>For the booster, out of {{.TotalUsers2}} entries,
    there have been reported these following secondary effects:</h3> <br>
<p>{{.Headaches3}} headaches, from which most from {{.HeadVax3}} vaccine</p>
<p>{{.Fevers3}} symptoms of fever, from which most from {{.FevVax3}} vaccine</p>
<p>{{.Dizzinesses3}} episodes of dizziness, from which most from {{.DizVax3}} vaccine</p>
<p>{{.Exhaustions3}} feelings of exhaustion, from which most from {{.ExhVax3}} vaccine</p>
<p>{{.ArmPains3}} episodes of pain in the arm, from which most from {{.ArmVax3}} vaccine</p>
<p>{{.Nauseas3}} symptoms of nausea, from which most from {{.NausVax3}} vaccine</p>




<br>
<a href="/">Submit</a>
<br>
<a href="/secondary-effects">Secondary effects data</a>
<br>
<a href="/covid-vaccine-data">Covid vaccination data</a>
<br>